<!doctype html>
<html>
<head>
    <title>aje beauty</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <header>
    <h1>aje beauty</h1>
    <a href="/login" class="btn btn-default btn-sm login">Login</a>
    <a href="/signup" class="btn btn-default btn-sm signUp">Sign Up</a>
  </header>

        
 <section>
  <form>
    <input type="type" name="name">
    <input type="type" name="business-name" id="business-name">
    <select name="role" id="role">
      <option>Hairstylist</option>
      <option>Barber</option>
      <option>Make-Up Artist</option>
      <option>Esthetician</option>
    </select>
    <div>
      <input type="checkbox" id="silk-press">
      <label for="silk-press">Silk Press</label>
      <input type="checkbox" id="braids">
      <label for="braids">Braids</label>
      <input type="checkbox" id="locs">
      <label for="locs">Locs/Retwists</label>
      <input type="checkbox" id="curly-cuts">
      <label for="curly-cuts">Curly Cuts</label>
    </div>
    
    <div>
      <label for="portfolio">Add pictures to your portfolio.</label>
      <input type="file" id="portfolio" name="portfolio" accept="image/png, image/jpeg" />
    </div>

    <button>Submit</button>
  </form>
 </section>
  
 


<script src="main.js"></script>

</body>
</html>
