<!doctype html>
<html>
<head>
    <title>aje beauty</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <header>
    <h1><%=user.local.businessName %></h1>
    <a href="/login" class="btn btn-default btn-sm login">Login</a>
  </header>


  <section>
    <h3><%=user.local.username %></h3>
    <p><%=user.local.role %></p>
    <h4>Services</h4>
    <ul>
      <li><%=user.local.services %></li>
    </ul>
  </section>
        
  <section>
    <h3>Portfolio</h3>
    <section class="portfolio">
      <section></section>
      <section></section>
      <section></section>
    </section>
  </section>

  <button class="reviews">See Reviews</button>

  <button class="edit">Edit</button>

<script src="main.js"></script>

</body>
</html>
